@import './base.css';
@import './app.css';

body {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow-y: auto;
  user-select: none;
}

#root {
  display: flex;
  justify-content: center;
  width: 100%;
}

code {
  font-weight: 600;
  padding: 3px 5px;
  border-radius: 2px;
  background-color: var(--color-background-mute);
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  font-size: 85%;
}
